  <section id="caroussel">
        <div class="images">

            <div class="images1">
                <img decoding="async" class="img-slide slider active" src="./src/img/new_entreprise.jpg">
                <div class="text-content active mx-16">
                    <h1>TaxIQ, la solution<br><span> Pour Entreprise</span></h1>
                    <p class="mr-4 text-lg font-medium">
                        La Solution Fiscale Rapide Et A Porter De Clic
                    </p>
                    <a href="#" class=" mx-48 border-2 border-solid border-lime-500 py-2 px-5 rounded ml-8 text-black transition duration-300 ease-in-out hover:text-white hover:border-black my-8">Commencez</a>
                </div>
            </div>

            <div class="images2">
                <img decoding="async" class="img-slide slider" src="./src/img/image afrique.jpg" >
                <div class="text-content mx-16">
                    <h1>Partout en Afrique<br><span> de l'ouest</span></h1>
                    <p class="mr-4">
                      Faites vos calculs depuis le Bénin, Burkina Faso, Guinée-Bisseau, Mali, Niger, Sénégal, Togo
                    </p>
                    <a href="#" class="border-2 border-solid border-lime-500 py-2 px-5 rounded ml-8 text-black transition duration-300 ease-in-out hover:text-white my-8">Commencez</a>
                </div>
            </div>

            <div class="images3">
                <img decoding="async" class="img-slide slider" src="./src/img/tax.jpg" >
                <div class="text-content mx-16">
                    <h1>Partout en Afrique<br><span> de l'ouest</span></h1>
                    <p class="mr-4 text-lg font-medium text-black">
                     Insérer y les données et laissez vous porter par la magie du calcul algorithmique de nos experts faits sur mésures pour satisfaire toutes les structures
                    </p>
                    <a href="#" class="border-2 border-solid border-lime-500 py-2 px-5 rounded ml-8 text-black transition duration-300 ease-in-out hover:border-black hover:text-lime-500 my-8">En Apprendre Plus</a>
                </div>
            </div>

            <div class="images4">
                <img decoding="async" class="img-slide slider" src="./src/img/expert_comptable.jpg" >
                <div class="text-content mx-16">
                    <h1>Grande<br><span>ou Petite entreprise</span></h1>
                    <p class="mr-4 text-black">
                    Cet Application web vous permettra de gagner du temps et de la précisions dans vos calculs tout ceci de manière sécurisé
                    </p>
                    <a href="#" class="border-2 border-solid border-lime-500 py-2 px-5 rounded ml-8 text-black transition duration-300 ease-in-out hover:border-white my-8">En Apprendre Plus</a>
                </div>
            </div>

            <div class="images5">
                <img decoding="async" class="img-slide slider" src="./src/img/assistante.jpg" >
                <div class="text-content mx-16">
                    <h1>Services<br><span>Disponible</span></h1>
                    <p class="mr-4 bg-lime-500">
                    En cas de soucis ou de questions, n'hésitez pas nos experts et assisatant sont là pour vous 24h/24
                    </p>
                    <a href="#" class="border-2 border-solid border-lime-500 py-2 px-5 rounded ml-8 text-black transition duration-300 ease-in-out hover:border-white my-8">En Apprendre Plus</a>
                </div>
            </div>
        </div>

        <div class="slider-navigation">
            <div class="nav-btn active text-black"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
            <div class="nav-btn"></div>
        </div>
    </section>
    <script src="./src/js/script.js" defer data-deferred="1"></script>